
.hero {
    display: flex;
    flex-direction: column;
}
.hero h1 {
    font-size: 2.25rem;
    margin-bottom:0;
}

.hero p {
    width: 85%;
    margin-top: 10px;
}

.hero--textblock {
    width: 70%;
    margin-left: 36px;
}

.hero--photo {
    margin: 26px auto;
    width:80vw;
}