.card {
    display: flex;
    flex-direction: column;
    width: 176px;
    margin: 10px;
    position: relative;
}
.card--star {
    height: 14px;
    width: 14px;
}
.card--image {
    border-radius: 10px;
}
.card--rating {
    margin-top: .4em;
}
.card p, .card h2 {
    margin: .2em 0;
    font-size: .75rem;
    font-weight: 400;
}

.card--rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.card--ratingtext-light {
    color: #918E9B;
}

.card--price--bold {
    font-weight: bold;
}

.card-badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}